*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
ul,li,ol{
	list-style: none;
}
/* 头部开始 */
.dingbu1{
	width: fill;
	height: 104px;
	margin: 0 auto;	
}
.dingbu2{ 
	padding-top: 30px;
	display: inline-block;
	width: 530px;
	float: left;
	margin-left: 160px;
}
.dingbu3{
	padding-top: 50px;
	display: inline-block;
	float: left;
	margin-left: 190px;
    color: #0b4199;
    font-size: 22px;
}
.dingbu4{
	font-size: 16px;
	padding-top: 50px;
	padding-top: 50px;
	width:170px;
	display: inline-block;
	float: left;
	margin-left: 30px;	
	color: #7d7d7d;
}

#select{
	border:none;
}


.zhuce{
	font-size: 16px;
	display: inline-block;
	float: left;
	padding-top: 50px;	
    color: #7d7d7d;
}
.dingbu5{
	width: fill;
	height: 50px;
	margin: 0 auto;
}
.dingbu6{
	padding-left: 117px;
	display: inline-block;
	float: left;
	height: 50px;	
}
.dingbu6 ul li{
	font-size: 16px;
	display: block;
	float: left;
	margin-left: 40px;
	margin-top: 10px;
}


.dingbu7{
	display: inline-block;
	height: 50px;
	padding-left: 159px;
}


.dingbu7 button{
	margin-left: 2px;
	margin-top: 10px;
	float: left;
	height: 31px;
	width: 31px;
}



.d1 {
	float: left;
	display: inline-block;
	margin-top: 10px;
	

}
.d1 input {

  width: 255px;
  height: 30px;
  padding-left: 10px;
  border: 2px solid #7BA7AB;
  border-radius: 5px;
  outline: none;
  color: #9E9C9C;
}

/*.d1 button {
  top: 0;
  right: 0px;
  width: 42px;
  height: 42px;
  border: none;
  background: #7BA7AB;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
.d1 button:before {
  content: "\f002";
  font-family: FontAwesome;
  font-size: 16px;
  color: #F9F0DA;
}   */



/* 导引开始 */
.daoyin{
	height: 243px;
	width: fill;
	margin: 0 auto;
	background-color: #f9f9f9;
}
.daoyin .zhong{
	width: 1200px;
	height: 215px;
	margin: 0 auto;
}
.daoyin .zhong  span{
	color: #2756a4;
}
.daoyin .zhong .zi{
	margin-top: 20px;
}
.daoyin .zhong .zi1{
	font:regular 14px/26px "microsoft yahei";
	color: #999999;
}
.daoyin .zhong .zi2{
	font:bold 24px "microsoft yahei";
	color: #3e3e3e;
	margin-top: 70px;
}
.daoyin .zhong .tu{
	width: 140px;
	height: 25px;
	position: relative;
	left: 1030px;
	top: 5px;
}
.daoyin .zhong .zi3{
	width: 375px;
	height: 27px;
	margin-top: 75px;
	background: url('../images/beijing_03.jpg.') no-repeat ;
}
.daoyin .zhong .zi3 p{
	margin-left: 50px;
	font-size: 14px;
	color: #fff;
	float: left;
}
/* 主体开始 */
/* 第一部分 */
.major{
	width: fill;
	height: 1960px;
	margin: 0 auto;
	/* background-color: #f9f9f9; */
}
.major .zhong{
	width: 1200px;
	height: 1907px;
	background-color: #fff;
	margin: 0 auto;
}
.major .zhong .mo1{
	height: 590px;
}
.major .zhong .mo1 .bo1{
	width: 680px;
	margin-left: 30px;
	float: left;
}
.major .mo1 .bo1 ul{
	display: block;
	width: 733px;
	height: 420px;
}
.major .mo1 .bo1 ul li{
	float: left;
}
.major .mo1 .bo1 .li1{
	padding: 214px 0 0 28px;
}
.major .mo1 .bo1 .li2{
	padding: 91px 0 0 192px;
}
.major .mo1 .bo1 .li3{
	padding: 214px 0 0 260px;
}
.major .mo1 .bo1 .di{
	width: 733px;
	height: 95px;
}
.major .mo1 .bo1 .di li{
	margin-left: 100px;
}
.major .mo1 .bo1 .di .di1{
	margin-left: 55px;
}
.major .mo1 .bo1 .di .di2{
	margin-top: 13px;
}
.major .mo1 .bo1 .di .di3{
	margin-top: 23px;
}
.major .mo1 .bo1 .ge{
	width: 733px;
	height: 70px;
	display: block;
	text-align: center;
}
 .major .mo1 .bo1 .ge p{
	width: 32px;
	height: 10px;
	border: 1px solid #0b4199;
	border-radius: 5px;
	float: left;
	margin:25px 0 0 10px;
} 
.major .mo1 .bo1 .ge .hea{
	margin-left: 288px;
	background-color: #0b4199;
}


.major .zhong .mo1 .bo2{
	width: 460px;
	float: right;
}
.major .zhong .mo1 .bo2 .p1{
	font: 24px/28px "microsoft yahei";
	width: 420px;
	height: 85px;
	margin: 100px 0 0 20px;
}
.major .zhong .mo1 .bo2 .p2{
	font: 14px/28px "microsoft yahei";
	width: 430px;
	height: 45px;
	margin: 40px 0 0 20px;
}
.major .zhong .mo1 .bo2 .p3{
	width: 230px;
	height: 40px;
	background-color: #2756a4;
	text-align: center;
	padding-top: 10px;
	margin: 195px 30px 0 202px;
	border-radius: 10px;
	font: bold 16px/30px "microsoft yahei";
	color: #ffff;
}
/* 第二部分 */
.major .zhong .mo2{
	height: 617px;
}
.major .zhong .mo2 .bo1{
	width: 1170px;
	height: 342px;
	margin-left: 30px;
}
.major .zhong .mo2 .bo2{
	width: 1170px;
	height: 160px;
	margin-left: 30px;
}
.major .zhong .mo2 .bo3{
	width: 1170px;
	height: 115px;
	margin-left: 30px;
}
.major .zhong .mo2 h2{
	font:bold 22px/28px "microsoft yahei";
	color: #2756a4;
	margin-top: 35px;
	margin-bottom: 22px;
}
.major .zhong .mo2 ul li{
	float: left;
	font:regular 16px/28px "microsoft yahei";
	color: #434343;
	margin-left: 60px;
	list-style: url('../images/hong_03.jpg');
}
.major .zhong .mo2 .li1{
	margin-left: 16px;
}
.major .zhong .mo2 .li2{
	margin-left: 47px;
}
.major .zhong .mo2 .li3{
	margin-left: 16px;
}
.major .zhong .mo2 .bo1 h3{
	font:bold 16px/30px "microsoft yahei";
	color:#434343 ;
	margin: 110px 0 0 1px;
}
.major .zhong .mo2 p{
	margin-top: 15px;
	font:regular 16px/30px "microsoft yahei";
	color:#434343 ;
}
.major .zhong .mo2 .bo2 h3{
	font:bold 16px/30px "microsoft yahei";
	color:#434343 ;
	margin-top: 27px;
}
.major .zhong .mo2 .bo3 img{
	margin: 60px 540px 0 520px;
}
/* 第三部分 */
.major .zhong .mo3{
	height: 700px;
}
.major .zhong .mo3 .bo1{
	width: 1170px;
	height: 390px;
	margin-left: 30px;
}
.major .zhong .mo3 .bo1>div{
	float: left;
	width: 295px;
	height: 195px;
	border: 1px solid #c9c9c9;
	margin: 113px 0 0 122px;
	text-align: center;
}
.major .zhong .mo3 .bo1 .fang{
	margin-left: 0;
}
.major .zhong .mo3 .bo1>div>p{
	margin-top: 18px;
	font-size: 14px/26px;
}
.major .zhong .mo3 .bo1>div a{
	text-decoration: underline;
}
.major .zhong .mo3 .bo2{
	height: 310px;
	background-color: #f2f2f2;
}
.major .zhong .mo3 .bo2 .ko1{
	width: 600px;
	height: 310px;
	float: left;
}
.major .zhong .mo3 .bo2 .p1{
	font: 40px/28px "microsoft yahei";
	margin: 55px 0 0 140px;
}
.major .zhong .mo3 .bo2 .p2{
	font: 40px/28px "microsoft yahei";
	margin: 0 0 0 310px;
}
.major .zhong .mo3 .bo2 .p3{
	font: 18px/28px "microsoft yahei";
	margin: 70px 0 0 185px;
}
.major .zhong .mo3 .bo2 .ko2{
	float:left;
	width: 600px;
	height: 313px;
}
/* 尾部开始 */
/*蓝色*/
.lanse{
	height: 77px;
	width: fill;
	background-color: #0b4199;
}
.lanse1{
	float:left;
    margin-top: 20px;
    margin-left: 155px;
}
.lanse2{
	float:left;	
	margin-top: 25px;
	color: #ffffff;
}
.lanse3{
	float:left;
	margin-top: 20px;	
	margin-left: 200px;
}
.lanse4{
	float:left;
	margin-top: 25px;	
	color: #ffffff;
}
.lanse5{
	float: left;
	margin-top: 25px;
	margin-left: 565px;
	color: #ffffff;
}
.lanse6{
	float: left;
	margin-top: 20px;
}
.lanse7{
	float: left;
	margin-top: 20px;
}
.lanse8{
	float: left;
	margin-top: 20px;
}


/*黑色*/
.heise{
	width: fill;
	height: 275px;	
	background-color: #454545;	
}
.heizuo{
	display: inline-block;
	float: left;
	width: 1093px;
	height: 275px;	
}
.hei1{
	display: inline-block;
	float: left;
	padding-top: 60px;
	padding-left: 200px;	
}
.heizuo ul li{
	font-size: 16px;
	color: #ffffff;
}
.la{
	margin-top: 25px;
}
.ha{
	color: #ffffff;
}
.hei2{
	display: inline-block;
	float: left;
	padding-left: 90px;
	padding-top: 60px;
}
.hei3{
	display: inline-block;
	float: left;
	padding-top: 60px;
	padding-left: 100px;	
}
.hei4{
	display: inline-block;
	float: left;
	padding-left: 60px;
	padding-top: 60px;	
}
.hei5{
	display: inline-block;
	float: left;
	padding-top: 60px;
	padding-left: 100px;
}



.heizhong{
	display: inline-block;
	float: left;
	height: 200px;
	margin-top: 42px;
}
.heiyou{
	display: inline-block;
	float: left;
	width: 506px;	
}
.heiyou1{
	display: block;
	padding-left: 35px;
	width: 506px;
}
.heiyou2{
	padding-top: 45px;
	color: #ffffff;
	display: block;
	padding-left: 35px;
	width: 506px;		
}
.heiyou3{
	color: #ffffff;
	display: block;
	padding-left:35px;
}
.heiyou4{
	color: #ffffff;
	display: block;
	padding-left: 87px;		
}
.zuihou{
	display: block;
	width: fill;
	height: 30px;
	background-color:  #454545;		
}
.zuihou1{
	display: inline-block;
	float: left;
	padding-left: 332px;
}
.zuihou2{
	display: inline-block;
	float: left;
	padding-left: 140px;
}